<%- include('partials/header', {title: 'Projects' }) %>



    <div class="container mt-4 pt-4">
        <div class="row">
            <div class="col-12">

                <h1>Projects</h1>


            </div>

            <div class="row">
                <div class="col-12">
                    <p class="mb-4">Here are some of the projects I've worked on:</p>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-md-4 text-center">
                        <p> <strong>GUI Calculator</strong>
                        <div class="row justify-content-center mb-4">
                            <div class="col-md-4 text-center">
                                <img src="/images/project1.png" height="300" width="400 alt=" Project 1"
                                    class="img-fluid mb-3"> <br>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing
                                elit. Non natus iure animi, perferendis laborum consequatur. Accusamus odit facilis
                                dolores quisquam. Eligendi consequuntur, tempora molestiae ducimus vel deserunt saepe.
                                Tenetur, consequatur?
                            </div>
                        </div>
                        </p>
                    </div> <br>
                    <div class="col-md-4 text-center">
                        <p><strong>Software Requirements Specification - AR SmartGlasses</strong>
                        <div class="col-md-4 text-center">
                            <img src="/images/project2.jpg" height="300" width="400 alt=" Project 2"
                                class="img-fluid mb-3"> <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Alias, maiores. Reprehenderit impedit aut cumque aperiam velit veniam repudiandae
                            accusantium esse sed nostrum voluptatem est, atque, quam doloremque ipsam beatae voluptatum!
                            </p>
                        </div>
                    </div> <br>
                    <div class="col-md-4 text-center">
                        <p><strong>Database SQL project for an Online Gaming store </strong>
                        <div class="col-md-4 text-center">
                            <img src="/images/project3.png" height="300" width="400
                            " alt="Project 3" class="img-fluid mb-3"> <br>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nulla odit dolore at,
                            natus dignissimos a, quos ratione placeat assumenda voluptate odio tenetur expedita
                            reprehenderit aut earum deserunt nesciunt eum?
                            </p>
                        </div>
                    </div>


                </div>
            </div>
            <%- include('partials/footer') %>