<%- include('partials/header', {title: 'Projects' }) %>



    <div class="container mt-4 pt-4">
        <div class="row">
            <div class="col-12">

                <h1>Projects</h1>


            </div>

            <div class="row">
                <div class="col-12">
                    <p class="mb-4">Here are some of the projects I've worked on:</p>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-md-4 text-center">
                        <p> <strong>GUI Calculator</strong>
                        <div class="row justify-content-center mb-4">
                            <div class="col-md-4 text-center">
                                <img src="/images/project1.png" height="300" width="400 alt=" Project 1"
                                    class="img-fluid mb-3"> <br>
                                This project was completed in Sem 2 Programming. I created a standard + scientific
                                calculator using GUI and the language used was c#.
                            </div>
                        </div>
                        </p>
                    </div> <br>
                    <div class="col-md-4 text-center">
                        <p><strong>Software Requirements Specification - AR SmartGlasses</strong>
                        <div class="col-md-4 text-center">
                            <img src="/images/project2.jpg" height="300" width="400 alt=" Project 2"
                                class="img-fluid mb-3"> <br> I have done Software Requirements Specification for AR
                            SmartGlasses. I was the team leader and we designed software system requirements and
                            completed the project.
                            </p>
                        </div>
                    </div> <br>
                    <div class="col-md-4 text-center">
                        <p><strong>Database SQL project for an Online Gaming store </strong>
                        <div class="col-md-4 text-center">
                            <img src="/images/project3.png" height="300" width="400
                            " alt="Project 3" class="img-fluid mb-3"> <br>
                            In this group project we created a database management system for an e-commerce. A gaming
                            store that wanted to find out the games with most players and the highest sold genre.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/footer') %>