<%- include('partials/header', {title: 'Services' }) %>
    <div class="container mt-4 pt-4">
        <h2 class="text-center">Services that I offer:</h2>
        &nbsp; &nbsp;
        <div class="col-md-4 text-center">
            <p><b>Web Development</b> </p> I like web Development very much. I love to create new websites and happy to
            help with new projects and websites.
        </div>
        <div class="col-md-4 text-center">
            <p> <b>General Programming</b></p>
            I offer assistance who need help with general programming. I have a strong language control and knowledge of
            Java, Python and C#.
        </div>

        <div class="col-md-4 text-center">
            <p><b>Software Development</b></p>
            Developing complex softwares and creating user-friendly software solutions to make it
            convenient and easier for all the users.
        </div>

    </div>
    <%- include('partials/footer') %>