<%- include('partials/header', {title: 'Services' }) %>
    <div class="container mt-4 pt-4">
        <h1 class="text-center">Services</h1>
        <p class="text-center">I offer the following services:</p>
        <!-- Insert services details here -->
    </div>
    <%- include('partials/footer') %>